* {box-sizing: border-box;}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                            
	vertical-align: baseline;         
	background: transparent;      
	font-size: 100%;                   
}
a {                                      	     
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
	text-decoration: none;
}
input, select, button, textarea {
	margin: 0; 			
	font-size: 100%; 		
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	list-style:none;
}
/* ---------------reset.css --------------- */
/* --------------- basic settings ---------*/
html {
	font-size: 10px; 
}
body {
	font-family: sans-serif;
	background-color: #EFEFF0;
}
header {
	position: relative;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
h2 {
	font-size: 3rem;
	font-weight: bold;
}
#s5, #s10, #s-all, #grid, #list {
	display: none;
}
/*--------------------------------------------------*/
#s5:checked ~.wrap .item:nth-of-type(-n+5) {
	display: none;
}
#s5:checked ~.wrap .item:nth-of-type(n+11) {
	display: none;
}
#s10:checked ~.wrap .item:nth-of-type(-n+2) {
	display: none;
}
#s10:checked ~.wrap .item:nth-of-type(n+13) {
	display: none;
}
#s-all:checked ~.wrap .item {
	display: block;
}
/*---------------------------------------------*/
#s5:checked ~.item .content .img-wrapper {
	display: none;
}
#s10:checked ~.item .content .img-wrapper {
	display: none;
}
#s-all:checked ~.item .content .img-wrapper {
	display: none;
}
/*--------------------------------------------*/
#list:checked ~ .wrap {
	/*display: block;*/
}

#list:checked ~ .wrap .item {
	max-width: 100%;
	width: 100%;
	height: 200px;
	transition: max-width .2s ease-out;
}
#list:checked ~ .wrap .item .content {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
}
#list:checked ~ .wrap .item .content .img-wrapper {
	max-width: 125px;
	padding: 0;
	margin-right: 20px;
}
#list:checked ~.wrap .item .content-wrapper {
	text-align: left;
	padding-top: 10px;
}
#list:checked ~.wrap .item h4.content-title {
	padding-top: 0;
}
#grid:checked ~.wrap .item .content .img-wrapper {
	display: none;
}
input:checked + label {
	background-color: #5F9EA0;
}
/*--------------------------------------------------*/
.show-item {
	width: 80px;
    height: 30px;
    line-height: 30px;
	font-size: 1.05rem;	
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	background-color: #DF264C;
	border-radius: 3px;
	box-shadow: 0px 1px 4px rgba(95, 158, 160, 0.15);
	cursor: pointer;
}
.show-item:hover {
	opacity: .7;
	transition: .3s;
}
.show-item:nth-of-type(5) {
	position: absolute;
	top: 12px;
	right: 15px;
}
.show-item:nth-of-type(4) {
	position: absolute;
	top: 12px;
	right: 105px;
}
.show-item:nth-of-type(3) {
	position: absolute;
	top: 12px;
	right: 195px;
}
.show-item:nth-of-type(2) {
	position: absolute;
	top: 12px;
	right: 285px;
}
.show-item:nth-of-type(1) {
	position: absolute;
	top: 12px;
	right: 375px;
}
/*-----------------------------------*/
.main_header {
	/*padding-top: 54px;*/
	display: flex;
	align-items: center;
}
.head-icon {
	margin: 5px 0 5px 15px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #DF264C;
}
h3 {
	font-size: 2rem;
	line-height: 45px;
	padding-left: 10px;
}
.main {
	padding: 10px;
}
.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 7px;
}
.item {
	max-width: 25%;
	height: 200px;
	padding: 8px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center
	width: 100%;
	height: 25%;
	background-color: #DF264C; 
}
.header-side-left {
	width: 100%;
	padding: 2px 15px;
}
.photo {
	width: 41px;
	height: 41px;
	float: left;
	line-height: 41px;
}
p.title-header {
	float: left;
	line-height: 41px;
	padding-left: 10px;
	color: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 40%;
	white-space: nowrap;
}
.header-side-right {
	/*padding: 1px 15px;*/
}
.fa-thumb-tack {
	width: 26px;
	line-height: 56px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.content {
	background-color: #fff;
	width: 100%;
	height: 54%;
	padding: 10px;
	text-align: center;
}
h4.content-title {
	font-size: 1.6rem;
	color: #EA6983;
}
p.content-subtitle {
	font-size: 1.15rem;
	font-weight: 600;
	color: #3D4044;
	padding-top: 10px;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 20%;
	background-color: #A2AEB1;
}
.footer-menu {
	list-style: none;
	line-height: 48px;
}
li {
	display: inline;
	line-height: 40px;
	padding-right: 5px;
}
.footer-menu li a.link {
	color: #fff;
	padding-right: 10px;
}
.fa {
	color: #fff;
}
.fa-thumbs-up {
	width: 30px;
	height: 30px;
	padding-left: 18px;
}
/*----------------@media--------------------*/
@media screen and (max-width: 1024px) {
	.main_header {padding-top: 5px;}
	.item {max-width: 33.3%;}
	h2 {text-align: center;}
	.active {margin-top: 10px;}
}
@media screen and (max-width: 768px) {		
    header {justify-content: center;}
	.item {max-width: 50%;}
	.main_header {padding-top: 5px;}
	.show-item:nth-of-type(5) {top: 72px;}
	.show-item:nth-of-type(4) {top: 72px;}
	.show-item:nth-of-type(3) {top: 72px;}
	.show-item:nth-of-type(2) {top: 72px;}
	.show-item:nth-of-type(1) {top: 72px;}
}
@media screen and (max-width: 670px) {
	.show-item {width: 66px;}
	.show-item:nth-of-type(4) {right: 86px;}
	.show-item:nth-of-type(3) {right: 157px;}
	.show-item:nth-of-type(2) {right: 228px;}
	.show-item:nth-of-type(1) {right: 299px;}
}
@media screen and (max-width: 580px) {
	.show-item {width: 55px; font-size: .8rem}
	.show-item:nth-of-type(4) {right: 75px;}
	.show-item:nth-of-type(3) {right: 136px;}
	.show-item:nth-of-type(2) {right: 197px;}
	.show-item:nth-of-type(1) {right: 258px;}
}
@media screen and (max-width: 415px) {
	.item {max-width: 100%;}
	.main_header {justify-content: center; padding-top: 45px;}
	.head-icon {display: none;}
	.show-item:nth-of-type(5) {right: 45px;}
	.show-item:nth-of-type(4) {right: 112px;}
	.show-item:nth-of-type(3) {left: 180px;}
	.show-item:nth-of-type(2) {left: 112px;}
	.show-item:nth-of-type(1) {left: 45px;}

	.show-item:nth-of-type(5) {top: 69px;}
	.show-item:nth-of-type(4) {top: 69px;}
	.show-item:nth-of-type(3) {top: 69px;}
	.show-item:nth-of-type(2) {top: 69px;}
	.show-item:nth-of-type(1) {top: 69px;}
}
@media screen and (max-width: 380px) {
	.main_header {padding-top: 45px;}
	.show-item:nth-of-type(5) {right: 15px;}
	.show-item:nth-of-type(4) {right: 88px;}
	.show-item:nth-of-type(3) {left: 161px;}
	.show-item:nth-of-type(2) {left: 88px;}
	.show-item:nth-of-type(1) {left: 15px;}

	.show-item:nth-of-type(5) {top: 95px;}
	.show-item:nth-of-type(4) {top: 95px;}
	.show-item:nth-of-type(3) {top: 95px;}
	.show-item:nth-of-type(2) {top: 95px;}
	.show-item:nth-of-type(1) {top: 95px;}
}
@media screen and (max-width: 320px) {
	h2 {font-size: 2.5rem;}
	.show-item {font-size: .7rem;}
	.show-item:nth-of-type(5) {right: 15px;}
	.show-item:nth-of-type(4) {right: 74px;}
	.show-item:nth-of-type(3) {left: 133px;}
	.show-item:nth-of-type(2) {left: 74px;}
	.show-item:nth-of-type(1) {left: 15px;}
}