* {box-sizing: border-box;}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                            
	vertical-align: baseline;         
	background: transparent;      
	font-size: 100%;                   
}
a {                                      	     
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
	text-decoration: none;
}
input, select, button, textarea {
	margin: 0; 			
	font-size: 100%; 		
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	list-style:none;
}
/* ---------------reset.css --------------- */
/* --------------- basic settings ---------*/
html {
	font-size: 10px; 
}
body {
	font-family: sans-serif;
	background-color: #EFEFF0;
}
header {
	position: fixed;
	left: 0;
	right: 0;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

h2 {
	font-size: 3rem;
	font-weight: bold;
}
#s5, #s10, #s-all, #grid, #list {
	display: none;
}
/*--------------------------------------------------*/
#s5:checked ~.item:nth-of-type(-n+5) {
	display: none;
}
#s5:checked ~.item:nth-of-type(n+11) {
	display: none;
}
#s10:checked ~.item:nth-of-type(-n+2) {
	display: none;
}
#s10:checked ~.item:nth-of-type(n+13) {
	display: none;
}
#s-all:checked ~.item {
	display: block;
}
#s5:checked ~.item .content .img-wrapper {
	display: none;
}
#s10:checked ~.item .content .img-wrapper {
	display: none;
}
#s-all:checked ~.item .content .img-wrapper {
	display: none;
}
/*--------------------------------------------------*/
#list:checked ~.item {
	width: 100%;
	height: 200px;
}
#list:checked ~.item .content {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
}
#list:checked ~.item .content .img-wrapper {
	max-width: 125px;
	padding: 0;
	margin-right: 20px;
}
#list:checked ~ .item .content-wrapper {
	text-align: left;
	padding-top: 10px;
}
#list:checked ~ .item h4.content-title {
	padding-top: 0;
}
#grid:checked ~ .item .content .img-wrapper {
	display: none;
}
/*--------------------------------------------------*/
.show-item {
	width: 100%;
	font-size: 1.05rem;
	padding: 8px 18px;
	line-height: 31px;
	margin-left: 6px;
	color: #fff;
	text-transform: uppercase;
	background-color: #DF264C;
	cursor: pointer;
}
.show-item:hover {
	opacity: .7;
	transition: .3s;
}
.show-item:active {
	background: green;
}

	
/*-----------------------------------*/
.main_header {
	padding-top: 54px;
	display: flex;
	align-items: center;
}
.head-icon {
	margin: 5px 0 5px 15px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #DF264C;
}
h3 {
	font-size: 2rem;
	line-height: 45px;
	padding-left: 10px;
}
.main {
	padding: 10px;
}
.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 7px;
}
.item {
	width: 332px;
	height: 200px;
	padding: 8px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center
	width: 100%;
	height: 25%;
	background-color: #DF264C; 
}
.header-side-left {
	padding: 2px 15px;
}
.photo {
	width: 41px;
	height: 41px;
	float: left;
	line-height: 41px;
}
p.title-header {
	float: left;
	line-height: 41px;
	padding-left: 10px;
	color: #fff;
}
.header-side-right {
	padding: 1px 15px;
}
.fa-thumb-tack {
	width: 40px;
	height: 40px;
}
.content {
	background-color: #fff;
	width: 100%;
	height: 54%;
	padding: 10px;
	text-align: center;
}
h4.content-title {
	font-size: 1.6rem;
	color: #EA6983;
}
p.content-subtitle {
	font-size: 1.15rem;
	font-weight: 600;
	color: #3D4044;
	padding-top: 10px;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 20%;
	background-color: #A2AEB1;
}
.footer-menu {
	list-style: none;
}
li {
	display: inline;
	line-height: 40px;
	padding-right: 5px;
}
.footer-menu li a.link {
	color: #fff;
}
.fa-thumbs-o-up {
	width: 20px;
	height: 20px;
}
/*----------------@media--------------------*/
@media screen and (max-width: 1024px) {
	.main_header {padding-top: 64px;}
	.item {width: 33.3%;}
	h2 {text-align: center;}
	.active {margin-top: 10px;}
}
@media screen and (max-width: 768px) {
	.main_header {padding-top: 100px;}
	header {justify-content: center;}
	.item {width: 50%;}
}
@media screen and (max-width: 400px) {
	.main_header {padding-top: 160px;}
	.item {width: 100%;}
	.active {text-align: center;}
	.show-item {padding: 7px 22px;}
	.main_header {justify-content: center;}
	.head-icon {display: none;}
}
@media screen and (max-width: 330px) {
	h2 {font-size: 2.5rem;}
	.show-item {padding: 7px 14px;}
}